* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    }
    .image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
    }
    .titulo { 
     text-align:center;
      color: #ffffff;
    }
    @font-face {
      font-family: 'Rodondo';
      src: url('fonts/Rodondo.ttf') format('truetype'); 
  }
  
  body {
      font-family: 'rodondo', sans-serif; 
  }.titulo { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #ffffff;
    font-size: 5em; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2em; 
}
